//Primary Text colors
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
// Background gradient:
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
//Neutral Text colors
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
//Dividers
$light-grayish-blue: hsl(240, 5%, 91%);

@layer base {
  .faq {
    @apply w-full pt-14 pb-20;

    &__title {
      margin: 0;
      padding-bottom: 25px;
    }

    &__question {
      @apply w-full border-b border-green-500;
    }

    &__question-button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border: none;
      background-color: transparent;
      padding: 0px;
      cursor: pointer;

      padding-top: 18px;
      padding-bottom: 18px;

      &::after {
        content: url(../../public/icon/faqs/icon-arrow-down.svg);
        margin-right: 17px;
        transform: rotate(90deg);
      }

      &:hover {
        color: $soft-red;
      }

      &__desc {
        margin-left: -40px;
        padding-right: 17px;
        margin-top: 0;
        margin-bottom: 0;
        height: 0;
        overflow: hidden;
        transition: all 200ms ease-out;
      }
    }
  }
}

//-- anim

.faq__desc.show-description {
  height: 2rem;
  margin-bottom: 15px;
}

/* Arrows */

/* closed */
.faq__question-button::after {
  transition: transform 300ms ease-out;
}

/* open */
.font-weight-bold::after {
  transform: rotate(720deg);
}

//-- resp

@media only screen and (max-width: 800px) {
  .illustration__woman-desktop {
    max-width: 120%;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    /* added padding here to mobile container,
    so illustration__woman-desctop would not be cropped at the top */
    padding-top: 105px;
  }

  .component {
    max-width: 327px;
    // background-image: url(../images/bg-pattern-mobile.svg);
    background-position: top;
    flex-direction: column;
  }

  .illustration {
    &__box {
      display: none;
    }

    &__woman-desktop {
      display: none;
    }

    &__woman-mobile {
      display: block;
      margin: 0 auto;
      position: absolute;
      top: -105px;
      left: 12px;
    }
  }

  .faq {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 132px;
    padding-bottom: 48px;

    &__question {
      max-width: 279px;
    }

    &__question-button {
      width: 279px;
      font-size: 13px;
      line-height: 13px;

      &::after {
        padding-right: 0px;
      }
    }
  }
}
