@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  li,
  span,
  div,
  input,
  button,
  textarea,
  select,
  label,
  option,
  small,
  strong,
  b,
  i,
  em,
  u,
  ul,
  ol,
  dl,
  dt,
  dd,
  blockquote,
  pre,
  code,
  hr,
  table,
  td,
  form,
  fieldset,
  legend,
  address,
  img,
  figure,
  figcaption,
  header,
  footer,
  nav,
  section,
  article,
  main,
  video,
  audio,
  iframe,
  object,
  canvas,
  details,
  summary,
  menu,
  menuitem,
  summary {
    //word-break: break-word;
    font-family: 'Outfit', sans-serif;
    //box-sizing: border-box;
  }
}

* {
  box-sizing: border-box;
}

//color
$gris-bordes-1: #dddfe1;

//Texto

// Variables de texto
$texto-color: #000000;
$tamano-titulo-1: 32px;
$tamano-titulo-2: 28px;
$tamano-titulo-3: 24px;
$tamano-body: 17px;
$tamano-smalltext: 14px;
$line-height-body: 140%;
$line-height-titulos: 130%;
// Otras variables de texto aquí...

@layer base {
  // Estilos de texto
  .titulo-1 {
    color: $texto-color;
    line-height: $line-height-titulos;
    font-size: $tamano-titulo-1;
    @apply font-normal;
  }

  .titulo-2 {
    color: $texto-color;
    line-height: $line-height-titulos;
    font-size: $tamano-titulo-2;
    @apply font-medium;
  }

  .titulo-3 {
    color: $texto-color;
    line-height: $line-height-titulos;
    font-size: $tamano-titulo-3;
    @apply font-medium;
  }

  .subtitulo {
    color: $texto-color;
    line-height: $line-height-titulos;
    font-size: 20px;
    @apply font-normal;
  }

  .bodyText {
    color: $texto-color;
    line-height: $line-height-body;
    font-size: $tamano-body;
    @apply font-light;
  }

  .smalltext {
    color: $texto-color;
    font-size: $tamano-smalltext;
    line-height: $line-height-body;
    @apply font-light;
  }
}
//Header
@layer base {
  .header-padding {
    @extend .seccion1-x;
    @apply px-6 lg:py-7;
  }

  .headerInner {
    @apply containerInner flex w-full items-center justify-between;
    //  @extend .header-padding;
  }

  .header {
    //  @apply px-8 py-8 sm:px-10 md:px-12 lg:px-12 xl:px-12 2xl:px-12;
    @extend .header-padding;
    @apply fixed left-0 right-0 top-0 z-[4] flex w-full items-center justify-center   border-[$gris-bordes-1];
  }
}

@layer base {
  .footer-padding {
    @extend .seccion1-x;
    @apply border-t border-[$gris-bordes-1] py-8 2xl:container;
  }

  .footer {
    @apply flex  w-full items-center justify-center bg-white;
  }

  .footerInner {
    @apply flex w-screen items-center justify-between bg-white;
    @extend .footer-padding;
  }
}

@layer base {
  .sidebar-padding {
    @extend .seccion1-x;
    @apply py-8;
  }

  .sidebar {
    @apply hidden h-full w-full min-w-[200px] bg-blue-500 lg:flex;
  }

  .sidebarInner {
    @apply sticky top-[0px] flex  h-[calc(100vh)] min-w-[200px] flex-col items-start justify-start;
    @extend .sidebar-padding;
    @apply sticky top-0   bg-white;
  }
}

@layer base {
  .seccion2-x {
    @apply w-full px-8 2xl:container sm:px-10 md:px-14 lg:px-16 xl:px-24 2xl:px-32;
  }
}

//Seccion
@layer base {
  .seccion1-x {
    @apply flex w-full flex-col items-center px-6 sm:px-10 md:px-12 lg:px-12 xl:px-12 2xl:px-12;
  }

  .seccion1-x-padding {
    @apply w-full px-6 sm:px-10 md:px-12 lg:px-12 xl:px-12 2xl:px-12;
  }

  .seccion1-y {
    @apply py-20;
  }

  .seccion1 {
    @extend .seccion1-x;
    @extend .seccion1-y;
  }

  .hr1 {
    @apply w-full border-[$gris-bordes-1];
  }
}

//main

@layer base {
  .main {
    @apply flex  w-screen flex-col items-center justify-center bg-[#F6F8FA] lg:pt-[97px];
  }

  .primaryButton {
    @apply rounded-3xl border-none bg-green-800 px-8 py-4 font-semibold leading-[100%] text-white;
  }

  .secondaryButton {
    @apply rounded-3xl  bg-blue-200 px-8 py-4 font-semibold leading-[100%] text-[#1D4ED8];
  }

  .terceryButton {
    @apply font-semibold text-[#1D4ED8];
  }

  .disabledPrimaryButton {
    @apply rounded-3xl border-none bg-gray-500 px-8 py-4 font-semibold leading-[100%] text-white;
  }

  .listContainer {
    @apply seccion1-x relative z-[2] w-full max-w-[100vw] rounded-r-3xl rounded-t-3xl bg-white;
    @apply flex flex-col gap-6;
    @apply mt-[-20px] py-[40px];
  }

  .containerInner {
    @apply 2xl:container;
  }

  .listContainer2 {
    @apply z-[2] mt-[-20px] flex w-full justify-center  rounded-3xl bg-slate-50;
  }

  .listContainerInner {
    @apply seccion1-x z-[2]  flex w-full flex-col gap-6 rounded-3xl bg-slate-50;
    @apply relative  py-[40px];
  }

  .col-center {
    @apply flex flex-col items-center justify-center;
  }

  .row-center {
    @apply flex flex-col items-center justify-center;
  }

  .gridContainer {
    @apply flex w-full flex-col gap-4 md:grid md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4;
  }

  .base {
    @apply z-50;
  }

  .centerInner {
    @apply flex w-full flex-col items-center justify-center;
  }
}

@media (max-width: 1024px) {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Estilo del pulgar del desplazamiento */
  .scrollbar-hide::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  /* Estilo del fondo del desplazamiento */
  .scrollbar-hide::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

//Del proyecto

@layer base {
  .section-padding-1 {
    @apply px-6 py-20 sm:px-10 md:px-14 lg:px-16 xl:px-24;
  }

  .container-section > section {
    @apply xl:container;
  }

  .article-layout-1 {
    @apply flex w-full flex-col items-center justify-center gap-16;
  }

  .grid-layout-3 {
    @apply grid grid-cols-1 gap-10 lg:grid-cols-3;
  }
}
